<ng-template #content  let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <h1>Are you sure you want to delete the selected product</h1>

  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmation()">Ok</button>
  </div>
</ng-template>
